<fieldset class="stack">
    <legend>Choose the required products</legend>
    <details class="flow" open>
      <summary>Dry Mops – Cotton & Acrylic Blue</summary>
      <div>
        <label>
          <input
            type="checkbox"
            name="product-code"
            value="FS-40"
          />
          FS-40
        </label>
      </div>
      <div>
        <label>
          <input
            type="checkbox"
            name="product-code"
            value="FS-60"
          />
          FS-60
        </label>
      </div>
      <div>
        <label>
          <input
            type="checkbox"
            name="product-code"
            value="PFS-40"
          />
          PFS-40
        </label>
      </div>
      <div>
        <label>
          <input
            type="checkbox"
            name="product-code"
            value="PFS-60"
          />
          PFS-60
        </label>
      </div>
    </details>
    <details class="flow">
      <summary>Wet Dry Mops System Microfiber</summary>
      <div>
        <label>
          <input
            type="checkbox"
            name="product-code"
            value="MWD-40"
          />
          MWD-40
        </label>
      </div>
      <div>
        <label>
          <input
            type="checkbox"
            name="product-code"
            value="MEC-40"
          />
          MEC-40
        </label>
      </div>
    </details>
  </fieldset>